nodered.jason
[{"id":"a242deb9d9010daf","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c0c5d5ad6e77cc76","type":"mqtt-broker","name":"192.168.180.130","broker":"192.168.180.130","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"feaa6f9b7dd44b5d","type":"ui_tab","name":"Alarm","icon":"dashboard","disabled":false,"hidden":false},{"id":"8afbd5ed63a2f5b6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3bbda907d2de02f5","type":"ui_group","name":"Alarm","tab":"feaa6f9b7dd44b5d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ab6e950d91a34c81","type":"mqtt in","z":"a242deb9d9010daf","name":"","topic":"opencv/knife","qos":"2","datatype":"auto-detect","broker":"c0c5d5ad6e77cc76","nl":false,"rap":true,"rh":0,"inputs":0,"x":410,"y":460,"wires":[["dcb0d17481e54105"]]},{"id":"dcb0d17481e54105","type":"function","z":"a242deb9d9010daf","name":"2 - TRUE","func":"if (msg.payload == 2) {\n    msg.payload=true\n    }\nelse {\n    msg.payload = false\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":460,"wires":[["42ca33dd7cae77b2","cea9960e41b5fbf3"]]},{"id":"42ca33dd7cae77b2","type":"ui_led","z":"a242deb9d9010daf","order":0,"group":"3bbda907d2de02f5","width":"6","height":"6","label":"Alarm","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":890,"y":460,"wires":[]},{"id":"9ee210cbd57a9bed","type":"e-mail","z":"a242deb9d9010daf","server":"smtp.gmail.com","port":"465","authtype":"BASIC","saslformat":true,"token":"oauth2Response.access_token","secure":true,"tls":true,"name":"axpirina@oteitzalp.com","dname":"Google Mail","x":1270,"y":600,"wires":[]},{"id":"a1fba9bebd93874c","type":"function","z":"a242deb9d9010daf","name":"Only 1 Mail","func":"if(msg.count==5){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":600,"wires":[["9ee210cbd57a9bed","7c2990c5efafb373"]]},{"id":"c438dc28b057c17e","type":"counter","z":"a242deb9d9010daf","name":"Counter","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":860,"y":600,"wires":[["a1fba9bebd93874c"]]},{"id":"7c2990c5efafb373","type":"debug","z":"a242deb9d9010daf","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":480,"wires":[]},{"id":"cea9960e41b5fbf3","type":"function","z":"a242deb9d9010daf","name":"only TRUE","func":"if (msg.payload==true){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":600,"wires":[["c438dc28b057c17e"]]}]
